<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Too many attempts</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '429.css' %}">
</head>
<body>
    <div class="background"></div>

    <div class="container">
        <div class="image-container">
            <img src="{% static 'suchenko.png' %}" alt="Suchenko">
        </div>
        <h1>Too much attemps</h1>
        <p>You have exceeded the allowed number of attempts. Please wait and try again later.</p>
    </div>
</body>
</html>
