<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chats</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jockey+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&display=swap"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'icons/icon.ico' %}">
</head>
<body>
<div id="django-variables"
     data-load-old-messages-url="{% url 'load_old_messages' chat_user=chat_user %}"
     data-send-message-url="{% url 'send_message' %}"
     data-check-new-messages-url="{% url 'check_new_messages' %}"
     data-get-new-messages-url="{% url 'get_new_messages' chat_user=chat_user %}"
     data-update-contacts-url="{% url 'get_contacts' %}"
     data-home-url="{% url 'home' %}"
     data-user-username="{{ user.username }}"
     data-chat-user="{{ chat_user|default_if_none:''|escapejs }}"
     data-group-id="{{ group_id|default_if_none:''|escapejs }}"
     data-load-old-posts-url="{% url 'load_old_posts' group_id=group_id %}"
     data-publish-post-url="{% url 'publish_post' %}"
     data-check-new-posts-url="{% url 'check_new_posts' %}"
     data-get-new-posts-url="{% url 'get_new_posts' group_id=group_id %}"
     data-update-groups-url="{% url 'get_groups' %}"
     >
</div>

<div class="container">
    <header>
        <div class="profile-img">
            <img src="{{ user.profile.image.url }}" alt="Profile image">
        </div>
        <div class="username-display">Welcome, {{ user.username }}!</div>
        <div class="logout"><a href="{% url 'account_settings' %}"><img src="{% static 'setting.svg' %}" alt=""></a></div>
    </header>

    <aside class="contacts-list">
        <h2>Contacts</h2>
        <ul class="contacts">
            {% for contact in user.profile.contacts.all %}
            <li id="contact-{{ contact.user.username }}">
                <div class="info-contact">
                    <img src="{{ contact.user.profile.image.url }}" alt="Profile image">
                    <a href="{% url 'home' %}?chat_with={{ contact.user.username }}">{{ contact.user.username }}</a>
                </div>
                <span class="notification-dot" style="display:none;">●</span>
            </li>
            {% empty %}
            <li>No contacts</li>
            {% endfor %}
        </ul>
        <h2>Groups</h2>
        <ul class="groups">
            {% for group in user.profile.groups.all %}
            <li id="group-{{ group.name }}">
                <div class="info-group">
                    <img src="{{ group.image.url }}" alt="Profile image">
                    <a href="{% url 'home' %}?group_with={{ group.name }}">{{ group.name }}</a>
                </div>
                <span class="notification-dot-group" style="display:none;">●</span>
            </li>
            {% empty %}
            <li>No groups</li>
            {% endfor %}
        </ul>
        <form class="add-contact-form" method="post" action="{% url 'add_contact' %}">
            {% csrf_token %}
            <input type="text" name="contact_name" placeholder="Add contact" required>
            <button type="submit">Add</button>
        </form>
        <p><a class="make-group-link" href="{% url 'create_group' %}">Make group</a></p>
        <form class="add-group-form" method="post" action="{% url 'add_group' %}">
            {% csrf_token %}
            <input class="input-group-name" type="text" name="group_name" placeholder="Group name" required>
            <button class="submit-group-name" type="submit">Add</button>
        </form>
    </aside>

    <main class="chat">
        {% if chat_user %}
        <div class="chat-header">
            <span id="chat-user">{{ chat_user|default_if_none:"[username]" }}</span>
            <a class="delete_link" href="{% url 'home_delete' %}?chat_with={{ chat_user }}">Delete chat</a>
            <a class="clear_link" href="{% url 'home_clear' %}?chat_with={{ chat_user }}">Clear chat</a>
        </div>
        {% elif group_id %}
        <div class="chat-header">
            <span id="group-id">{{ group_id|default_if_none:"" }}</span>
            <a class="delete_link" href="{% url 'home_delete' %}?group_with={{ group_id }}">Leave group</a>
            {% if group.sender == user %}
            <a class="clear_link" href="{% url 'home_clear' %}?group_with={{ group_id }}">Clear group</a>

            {% endif %}
        </div>
        {% endif %}
        <div class="chat-container">
            <div class="chat-messages" id="chat-messages">
                {% if chat_user %}
                {% for message in messages %}{% spaceless %}

                <div class="message {% if message.sender == user %}from-user{% else %}from-contact{% endif %}"
                     data-timestamp="{{ message.timestamp|date:'c' }}" data-id="{{ message.id }}">
                    {% if message.image %}
                    <img src="{{ message.image.url }}" width="200">
                    {% endif %}
                    {% if message.content %}
                    <p>{{ message.content|safe }}</p>
                    {% endif %}
                </div>
                {% if message.sender == user %}
                    <a class="pop_message_link"  href="{% url 'home_message_back' message_id=message.id%}?chat_with={{ chat_user }}">Delete message</a>
                {% endif %}
                {% endspaceless %}{% endfor %}
                {% elif group_id %}
                {% for post in posts %}{% spaceless %}
                <div class="post_group" data-timestamp="{{ post.timestamp|date:'c' }}" data-id="{{ post.id }}">
                    {% if post.image %}
                    <img src="{{ post.image.url }}" width="200">
                    {% endif %}
                    {% if post.content %}
                    <p>{{ post.content|safe }}</p>
                    {% endif %}
                </div>
                {% if group.sender == user %}
                    <a class="pop_post_link"  href="{% url 'home_message_back' message_id=post.id%}?group_with={{ group_id }}">Delete post</a>
                {% endif %}
                {% endspaceless %}{% endfor %}
                {% else %}
                <p class="standard-title">Choose contact or group</p>
                {% endif %}
            </div>
            {% if chat_user %}
            <form class="send-message-form" id="send-message-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="receiver_name" value="{{ chat_user }}">
                <textarea class="textarea-message" name="message" id="message-input" placeholder="Write message..."
                          autocomplete="off" rows="2"></textarea>


                <button type="button" id="style-button">Format</button>


                <div id="style-menu">
                    <button type="button" class="style-option" data-style="bold">Bold</button>
                    <button type="button" class="style-option" data-style="italic">Italic</button>
                    <button type="button" class="style-option" data-style="underline">Underline</button>
                    <button type="button" class="style-option" data-style="normal">Normal</button>
                </div>

                <button type="button" id="emoji-button">😊</button>
                <div id="emoji-picker" >
                    <table>
                        <tr>
                            <td class="emoji">😊</td>
                            <td class="emoji">😂</td>
                            <td class="emoji">❤️</td>
                            <td class="emoji">👍</td>
                            <td class="emoji">🎉</td>

                        </tr>
                        <tr>
                            <td class="emoji">🔥</td>
                            <td class="emoji">😎</td>
                            <td class="emoji">😢</td>
                            <td class="emoji">😡</td>
                            <td class="emoji">🙌</td>
                        </tr>
                        <tr>
                            <td class="emoji">🎂</td>
                            <td class="emoji">💪</td>
                            <td class="emoji">🤔</td>
                            <td class="emoji">😴</td>
                            <td class="emoji">🥳</td>
                        </tr>
                    </table>
                </div>

                <input class="input-file" type="file" name="image" id="image-input" accept=".png, .jpg, .jpeg">
                <label for="image-input" id="image-input-label">Choose a file</label>
                <button type="submit" class="send-submit">Send</button>
            </form>
            {% elif group_id %}
            {% if group.sender == user %}
            <form class="publish-post-form" id="publish-post-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="name_group" value="{{ group_id }}">
                <textarea class="textarea-post" name="post" id="post-input" placeholder="Write the text of the post..."
                          autocomplete="off" rows="2"></textarea>


                <button type="button" id="style-button-post">Format</button>


                <div id="style-menu-post">
                    <button type="button" class="style-option" data-style="bold">Bold</button>
                    <button type="button" class="style-option" data-style="italic">Italic</button>
                    <button type="button" class="style-option" data-style="underline">Underline</button>
                    <button type="button" class="style-option" data-style="normal">Normal</button>
                </div>

                <button type="button" id="emoji-button-post">😊</button>

                <div id="emoji-picker-post">
                    <table>
                        <tr>
                            <td class="emoji">😊</td>
                            <td class="emoji">😂</td>
                            <td class="emoji">❤️</td>
                            <td class="emoji">👍</td>
                            <td class="emoji">🎉</td>

                        </tr>
                        <tr>
                            <td class="emoji">🔥</td>
                            <td class="emoji">😎</td>
                            <td class="emoji">😢</td>
                            <td class="emoji">😡</td>
                            <td class="emoji">🙌</td>
                        </tr>
                        <tr>
                            <td class="emoji">🎂</td>
                            <td class="emoji">💪</td>
                            <td class="emoji">🤔</td>
                            <td class="emoji">😴</td>
                            <td class="emoji">🥳</td>
                        </tr>
                    </table>
                </div>

                <input class="input-file-post" type="file" name="post_image" id="post-image-input"
                       accept=".png, .jpg, .jpeg">
                <label for="post-image-input" id="image-input-label-post">Choose a file</label>
                <button class="post-publish-button">Publish</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </main>
</div>
<script src="{% static 'home/home.js' %}"></script>

</body>
</html>
