{% extends "base_settings.html" %}

{% block title %}
<h1 class="settings-title">SETTINGS</h1>
{% endblock %}

{% block content %}
<div class="settings">
    <p class="setting-line"></p>
    <p><a href="{% url 'account_change_username' %}" class="settings-username"><span class="settings-username-text">Change username</span></a></p>
    <p><a href="{% url 'account_change_image' %}" class="settings-picture"><span class="settings-picture-text">Change profile picture</span></a></p>
    <p><a href="{% url 'account_change_email' %}" class="settings-email"><span class="settings-email-text">Change email</span></a></p>
    <p><a href="{% url 'account_change_password' %}" class="settings-password"><span class="settings-password-text">Change password</span></a></p>

    <p class="logout"><a href="{% url 'account_logout' %}" class="settings-logout"><span class="settings-logout-text">Logout</span></a></p>
    <p class="cancel"><a href="{% url 'home' %}" class="settings-back"><span class="settings-back-text">Back</span></a></p>
</div>
<style type="text/css">
    .background {
        position: fixed;
        width: 100%;
        height: 100%;
        background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
        background-size: 400% 400%;
        animation: gradient 7s ease infinite;
        z-index: -1;
    }
    @keyframes gradient {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }

    .setting-line {
        border: 2px solid black;
        border-radius: 50%;
        width: 70%;
        margin: auto;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.5s ease;
    }

    .setting-line-loaded .setting-line {
        transform: scaleX(1);
    }

    .settings-username::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        border-radius: 50%;
        background-color: #E60808;
        margin: auto;
        transition: width 0.3s ease;
    }

    .settings-username:hover::after {
        width: 60%;
    }

    .settings-picture::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        border-radius: 50%;
        background-color: #FF9108;
        margin: auto;
        transition: width 0.3s ease;
    }

    .settings-picture:hover::after {
        width: 75%;
    }

    .settings-email:hover::after {
        width: 50%;
    }

    .settings-email::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        border-radius: 50%;
        background-color: #FFEF08;
        margin: auto;
        transition: width 0.3s ease;
    }

    .settings-password:hover::after {
        width: 55%;
    }

    .settings-password::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        border-radius: 50%;
        background-color: #0A8528;
        margin: auto;
        transition: width 0.3s ease;
    }

    .settings-logout::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        border-radius: 50%;
        background-color: #0852FF;
        margin: auto;
        transition: width 0.3s ease;
    }

    .settings-logout:hover::after {
        width: 30%;
    }

    .settings-back::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        border-radius: 50%;
        background-color: #7B088C;
        margin: auto;
        transition: width 0.3s ease;
    }

    .settings-back:hover::after {
        width: 20%;
    }

    .logo img {
        width: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .settings{
        margin: 10px 0;
        border: none;
        text-align: center;
    }

    .settings h2 {
        font-size: 22px;
        color: #333333;
        margin-bottom: 20px;
    }

    .settings p {
        list-style-type: none;
        padding: 0;
        margin-bottom: 10px;
    }

    .settings p a {
        color: #333333;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        transition: color 0.3s;
    }

    .settings-title {
        font-size: 45px;
        color: #333;
        margin-bottom: 20px;
        text-align: center;
        transition: text-shadow 0.3s;
        text-shadow: 1px 1px 1px #E60808;
    }

    .settings-username-text{
        transition: text-shadow 0.3s ease;
    }

    .settings-username-text:hover {
        text-shadow: 1px 1px 1px #E60808;
    }

    .settings-picture-text {
        transition: text-shadow 0.3s ease;
    }

    .settings-picture-text:hover {
        text-shadow: 1px 1px 1px #FF9108;
    }

    .settings-email-text {
        transition: text-shadow 0.3s ease;
    }

    .settings-email-text:hover {
        text-shadow: 1px 1px 1px #FFEF08;
    }

    .settings-password-text {
        transition: text-shadow 0.3s ease;
    }

    .settings-password-text:hover {
        text-shadow: 1px 1px 1px #0A8528;
    }

    .settings-logout-text {
        transition: text-shadow 0.3s ease;
    }

    .settings-logout-text:hover {
        text-shadow: 1px 1px 1px #0852FF;
    }

    .settings-back-text {
        transition: text-shadow 0.3s ease;
    }

    .settings-back-text:hover {
        text-shadow: 1px 1px 1px #7B088C;
    }
</style>
<script>
document.addEventListener("DOMContentLoaded", function() {
    setTimeout(function() {
        document.querySelector(".settings").classList.add("setting-line-loaded");
    }, 50);
});
</script>
{% endblock %}