body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Poppins', Arial, sans-serif;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
}


.container {
    background: rgba(255, 255, 255, 0.6);
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

h1, h2 {
    margin-bottom: 10px;
}

/* Отображение имени пользователя */
.username-display p {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
}

.submit-button {
    margin-top: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.8s;
    width: 90%; /* Ширина кнопки совпадает с шириной полей */
    max-width: 150px;
}

.submit-button:hover {
    background-color: #EE82EE;
}

.back-link {
    margin-top: 30px;
}

.back-link a {
    color: #000;
    text-decoration: none;
    font-weight: normal; /* Убираем жирность */
    transition: color 0.8s;
    color: #555555;
    font-size: 14px;
    margin-top: 20px;
}

.back-link a:hover {
    color: #EE82EE;
}

/* Стили для ошибок */
.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center; /* Центрируем ошибки */
}