/* Основные стили */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Permanent Marker", cursive;
    background-color: #f0f0f0;
}

/* Контейнер для основного макета */
.container {
    display: grid;
    grid-template-columns: 250px 1fr; /* Изменено на фиксированную ширину боковой панели */
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header"
        "contacts chat";
    height: 100vh;
}

/* Верхняя панель */
header {
    grid-area: header;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f7f7f7;
    color: #333;
}

.profile-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username-display {
    flex: 1;
    font-weight: bold;
    font-size: 30px;
}

.logout a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.logout a:hover {
    text-decoration: underline;
}

/* Боковая панель контактов */
.contacts-list {
    grid-area: contacts;
    background-color: #f7f7f7;
    padding: 10px;
    overflow-y: auto;
}

.contacts-list h2 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
}

.contacts-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contacts-list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contacts-list img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.contacts-list ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-size: 16px;
}

.contacts-list ul li a:hover {
    text-decoration: underline;
}

.notification-dot,.notification-dot-group {
    color: red;
    margin-left: auto;
}

.add-contact-form, .add-group-form {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.add-contact-form input, .add-group-form input {
    flex-grow: 1;
    font-family: "Permanent Marker", cursive;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.add-contact-form input:focus, .add-group-form input:focus {
    outline: none;
}

.add-contact-form button, .add-group-form button {
    padding: 5px 10px;
    font-family: "Permanent Marker", cursive;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(51, 51, 51, 0.15);
    color: black;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, text-shadow 0.3s ease, border 0.3s ease;
}

.add-contact-form button:hover, .add-group-form button:hover {
    box-shadow: 0 0 7px #D9AFD9;
    text-shadow: 3px 3px 2px #D9AFD9;
    border: 1px solid rgba(51, 51, 51, 0.15);
}

/* Основная часть чата */
.chat {
    grid-area: chat;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 100%;       /* Добавлено */
    min-height: 0;      /* Добавлено */
}

/* Заголовок чата */
.chat-header {
    padding: 10px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    border-top: 2px solid #ddd;
    border-top-left-radius: 10px;
    border-left: 2px solid #ddd;
    font-size: 18px;
    font-weight: bold;
}

/* Контейнер для сообщений и формы отправки */
.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 0;      /* Добавлено */
}


/* Область сообщений */
.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}




#image-input-label, #image-input-label-post {
    margin-right: 30px;
}

.make-group-link {
    text-decoration: none;
    color: black;
    transition: text-shadow 0.3s ease
}

.make-group-link:hover {
    text-shadow: 3px 3px 2px #D9AFD9;
}

.input-group-name {
    font-family: "Permanent Marker", cursive;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input-group-name:hover {
    outline: none;
}

.submit-group-name {
    padding: 5px 10px;
    font-family: "Permanent Marker", cursive;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(51, 51, 51, 0.15);
    color: black;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, text-shadow 0.3s ease, border 0.3s ease;
}

.submit-group-name:hover {
    box-shadow: 0 0 7px #D9AFD9;
    text-shadow: 3px 3px 2px #D9AFD9;
    border: 1px solid rgba(51, 51, 51, 0.15);
}

.input-file,.input-file-post {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file + label,.input-file-post + label {
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    color: black;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(51, 51, 51, 0.3);
    border-radius: 5px;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
    min-width: 100px;
    max-width: 100px; /* Ограничение ширины кнопки */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: background 0.3s ease, box-shadow 0.3s ease, border 0.3s ease, text-shadow 0.3s ease;
}

.input-file:focus + label,
.input-file + label:hover,.input-file-post:focus + label,
.input-file-post + label:hover {
    background-color: white;
    box-shadow: 0 0 10px #D9AFD9;
    border: 1px solid rgba(51, 51, 51, 0.15);
    text-shadow: 3px 3px 2px #D9AFD9;
}

/* Форма отправки сообщений */
.send-message-form, .publish-post-form {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
}

/* Поле ввода сообщения */
.send-message-form input[type="text"], .publish-post-form input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: none;
    font-family: "Permanent Marker", cursive;
    border-radius: 4px;
    background: #f7f7f7;
}

.send-message-form input[type="text"]:focus, .publish-post-form input[type="text"]:focus{
    outline: none;
}

/* Кнопка отправки */
.send-message-form button, .publish-post-form button {
    font-family: "Permanent Marker", cursive;
    padding: 10px 16px;
    font-size: 15px;
    background-color: #f7f7f7;
    color: #333;
    border: 1px solid rgba(51, 51, 51, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.2s ease, text-shadow 0.2s ease, border 0.3s ease;
}

.send-message-form button:hover, .publish-post-form button:hover {
    box-shadow: 0 0 7px #D9AFD9;
    text-shadow: 3px 3px 2px #D9AFD9;
    border: 1px solid rgba(51, 51, 51, 0.15);
}

/* Стили для сообщений */
.message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
    word-wrap: break-word;
}

.from-user {
    background-color: #FFEFFF;
    margin-left: auto;
    align-self: flex-end;
    max-width
}

.from-contact {
    background-color: #CBFBFF;
    margin-right: auto;
    align-self: flex-start;
}

.message img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 5px;
}

.post_group {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
    word-wrap: break-word;
    background-color: #CBFBFF;
    margin-right: auto;
    align-self: flex-start;

.post_group img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 5px;
}
/* Дополнительные стили */
.info-contact,.info-group {
    display: flex;
    align-items: center;
}

.info-contact img,.info-group img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "chat";
    }

    .contacts-list {
        display: none;
    }
}