{% extends "base_settings.html" %}

{% block title %}
<h2>Change profile picture</h2>
{% endblock %}

{% block content %}
<form method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    <p><input type="file" name="image" accept=".png, .jpg, .jpeg"></p>
    <p><button class="submit-button" type="submit">Upload</button></p>
</form>
<p class="back-link"><a href="{% url 'account_settings' %}">Back</a></p>
<style type="text/css">
    .logo img {
        width: 90px;
        height: auto;
        margin-bottom: 0px;
    }

    h1, h2 {
        margin-bottom: 10px;
    }

    .submit-button {
        margin-top: 10px;
        background-color: #000;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.8s;
        width: 90%;
        max-width: 150px;
    }

    .submit-button:hover {
        background-color: #EE82EE;
    }

    .back-link {
        margin-top: 30px;
    }

    .back-link a {
        color: #000;
        text-decoration: none;
        font-weight: normal;
        transition: color 0.8s;
        color: #555555;
        font-size: 14px;
        margin-top: 20px;
    }

    .back-link a:hover {
        color: #EE82EE;
    }

    .error-message {
        color: red;
        font-size: 14px;
        margin-bottom: 10px;
        text-align: center;
    }
</style>
{% endblock %}
