{% extends "base_settings.html" %}
{% block title %}
<h2>Change email</h2>
{% endblock %}

{% block content %}
<div class="email">
    <p class="email-line"></p>
</div>
<p class="current-email-place"><span class="current-email-place-title">Current email</span>: {{ user.email }}</p>
<form method="post" action="{% url 'account_change_email' %}">
    {% csrf_token %}
    <label for="password" class="current-title">Current Password:</label>
    <input type="password" placeholder="Current Password" id="password" name="password" required>
    <label for="new_email" class="new-email-title">New Email:</label>
    <input type="email" placeholder="New Email" id="new_email" name="new_email" required>
    <button type="submit" class="submit-button">Change</button>
</form>
<p class="back-link"><a href="{% url 'account_settings' %}">Back</a></p>
<div class="notification" id="notification">Email has been successfully changed!</div>
<script>
    function showNotification(message) {
        const notification = document.getElementById("notification");
        notification.innerText = message;
        notification.classList.add("show");

        // Убираем уведомление через 3 секунды
        setTimeout(() => {
            notification.classList.remove("show");
        }, 3000);
    }
    {% if messages %}
        {% for message in messages %}
            showNotification("{{ message }}");
        {% endfor %}
    {% endif %}
</script>
<style type="text/css">
    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #FEE140 0%, #FA709A 100%);
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;
        z-index: -1;
    }
    @keyframes gradient {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }

    input::placeholder {
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
        font-weight: 500;
    }

    h2 {
        margin: 0 0 0 10px;
        font-size: 35px;
        text-shadow: 2px 2px 1px #FFEF08;
    }

    .current-email-place {
        font-size: 20px;
    }

    .current-email-place-title {
        font-size: 30px;
    }

    .current-title {
        font-size: 20px;
        text-shadow: 1px 1px 1px #FFEF08;
    }

    .new-email-title {
        font-size: 20px;
        text-shadow: 1px 1px 1px #FFEF08;
    }

    .email-line {
        border: 2px solid black;
        border-radius: 50%;
        width: 90%;
        margin: auto;
        transform: scaleX(0); /* Начальный масштаб по горизонтали - 0 */
        transform-origin: center; /* Начало анимации из центра */
        transition: transform 0.5s ease; /* Плавная анимация */
    }

    .email-line-loaded .email-line {
        transform: scaleX(1); /* Конечный масштаб по горизонтали - 1 */
    }

    .username-display p {
        font-size: 16px;
        color: #333;
        margin-bottom: 15px;
    }

    .logo img {
        width: 90px;
        height: auto;
        margin-bottom: 0px;
    }

    input[type="email"],
    input[type="password"] {
        width: 90%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 15px;
        text-align: center;
        font-family: "Permanent Marker", cursive;
        transition: box-shadow 0.3s ease;
    }

    input[type="password"]:focus,
    input[type="email"]:focus {
        box-shadow: 0 0 15px #FFEF08;
    }

    .submit-button {
        font-family: "Permanent Marker", cursive;
        margin-top: 10px;
        background: rgba(255, 255, 255, 0.15);
        color: black;
        font-size: 25px;
        border: 2px solid white;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s ease, box-shadow 0.3s ease;
        width: 90%; /* Ширина кнопки совпадает с шириной полей */
        max-width: 150px;
    }

    .submit-button:hover {
        background: white;
        box-shadow: 0 0 20px #FFEF08;
    }

    .submit-button:active {
        background-color: #e8e8e8;
    }

    .back-link {
        margin-top: 30px;
    }

    .back-link a {
        color: black;
        text-decoration: none;
        font-weight: normal; /* Убираем жирность */
        transition: color 0.8s;
        font-size: 25px;
        margin-top: 20px;
        transition: text-shadow 0.15s;
    }

    .back-link a:hover {
        text-shadow: 1px 1px 1px #FFEF08;
    }

    .back-link::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        border-radius: 50%;
        background-color: #FFEF08;
        margin: auto;
        transition: width 0.3s ease; /* Плавное появление подчеркивания */
    }

    .back-link:hover::after {
        width: 20%;
    }

    /* Уведомление об успехе */
    .notification {
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
        color: 	#000000; /* White текст */
        padding: 10px;
        border: 2px solid #fff;
        border-radius: 5px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.5s;
    }

    .notification.show {
        opacity: 1;
        visibility: visible;
    }

    @keyframes fadeOut {
        0% { opacity: 1; }
        100% { opacity: 0; }
    }

    .error-message {
        color: red;
        font-size: 14px;
        margin-bottom: 10px;
        text-align: center;
    }
</style>
<script>
document.addEventListener("DOMContentLoaded", function() {
    setTimeout(function() {
        document.querySelector(".email").classList.add("email-line-loaded");
    }, 50); // Небольшая задержка в 50 миллисекунд
});
</script>
{% endblock %}
