<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jockey+One&family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <div class="logo">
            <img src="{% static 'home/GirlHub_transparent.png' %}" alt="GirlHub Logo">
        </div>
        <h1>Login to your account</h1>

        <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}

            <input class="input-email" type="email" name="login" placeholder="Email" required value="{{ form.login.value|default_if_none:'' }}">

            <input class="input-password" type="password" name="password" placeholder="Password" required>

            <a href="{% url 'account_reset_password' %}" class="forgot-password">Forget password?</a>
            <button type="submit" class="button">Login</button>
        </form>

        <p class="signup">No account yet? <a href="{% url 'account_signup' %}">Register</a></p>

        {% if form.errors %}
        <div class="error-message show">
            {{ form.non_field_errors.as_text }}
        </div>
        {% endif %}
    </div>
</body>
</html>
