<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выход & Настройки</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/logout.css' %}">
</head>
<body>
    <div class="background"></div>

    <div class="container-wrapper">
        <!-- Основной блок с подтверждением выхода -->
        <div class="container">
            <div class="username-display">
                <p>Вы вошли как <strong>{{ user.username }}</strong></p>
            </div>

            <div class="logo">
                <img src="{% static 'home/GirlHub_transparent.png' %}" alt="GirlHub Logo">
            </div>
            <h1>Вы уверены, что хотите выйти?</h1>

            <!-- Форма для подтверждения выхода -->
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                <button type="submit" class="logout-button">Выйти</button>
            </form>

            <p class="cancel"><a href="{% url 'account_settings' %}">Назад</a></p>
        </div>

    </div>
</body>
</html>
