{% extends "base_settings.html" %}

{% block title %}
    <h1>Are you sure you want to exit?</h1>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    <button type="submit" class="logout-button">Logout</button>
</form>
<p class="cancel"><a href="{% url 'account_settings' %}">Back</a></p>
<style type="text/css">
    .logo img {
        width: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h1 {
        color: #333333;
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .logout-button {
        font-family: "Permanent Marker", cursive;
        background-color: #ff4b5c;
        color: #ffffff;
        border: none;
        padding: 12px 24px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
    }

    .logout-button:hover {
        background-color: #EE82EE;
    }

    .cancel {
        color: #555555;
        font-size: 14px;
        margin-top: 25px;
    }

    .cancel a {
        color: #333333;
        text-decoration: none;
        transition: color 0.3s;
    }

    .cancel a:hover {
        color: #EE82EE;
    }
</style>
{% endblock %}
