<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/password_change.css' %}">
</head>
<body>
    <div class="background"></div>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="notification success">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="container">
        <!-- Отображение имени пользователя -->
        <div class="username-display">
            <p>Вы вошли как <strong>{{ user.username }}</strong></p>
        </div>

        <div class="logo">
            <img src="{% static 'home/GirlHub_transparent.png' %}" alt="GirlHub Logo">
        </div>
        <h1>Изменение пароля</h1>

        <!-- Форма изменения пароля с отображением ошибок над полями -->
        <form method="post" action="{% url 'account_change_password' %}">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-field">
                    {% if field.errors %}
                        <p class="error-message">{{ field.errors|join:" " }}</p>
                    {% endif %}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}

            <button type="submit" class="change-password-button">Сменить пароль</button>
        </form>

        <p class="cancel"><a href="{% url 'home' %}">Назад</a></p>
    </div>
</body>
</html>
