{% extends "base_settings.html" %}

{% block title %}
    <h1>Изменение пароля</h1>
{% endblock %}

{% block addition %}
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="notification success">{{ message }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-field">
            {% if field.errors %}
            <p class="error-message">{{ field.errors|join:" " }}</p>
            {% endif %}
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="change-password-button">Сменить пароль</button>
    </form>
    <p class="cancel"><a href="{% url 'account_settings' %}">Назад</a></p>
    <style type="text/css">
        .logo img {
            width: 100px;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        h1 {
            color: #000000;
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 20px;
        }

        input[type="password"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 10px;
            text-align: center;
            font-size: 16px;
        }

        input::placeholder {
            color: rgba(0, 0, 0, 0.5);
            text-align: center;
        }

        input:focus {
            outline: none;
            border-color: #0288d1;
        }

        button.change-password-button {
            background-color: #000000;
            color: #ffffff;
            border: none;
            padding: 10px 30px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.8s;
            margin-top: 20px;
        }

        button.change-password-button:hover {
            background-color: #FF8C00;
        }

        .cancel {
            color: #555555;
            font-size: 14px;
            margin-top: 20px;
        }

        .cancel a {
            color: #333333;
            text-decoration: none;
            transition: color 0.8s;
        }

        .cancel a:hover {
            color: #FF8C00;
        }

        .error-message {
            color: #ff4b5c;
            font-size: 14px;
            margin-bottom: 10px;
            text-align: center;
        }

        .notification.success {
            position: fixed;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #d4edda;
            color: #155724;
            padding: 10px 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            z-index: 10;
            font-size: 16px;
            text-align: center;
            animation: fadeOut 5s forwards;
        }

        @keyframes fadeOut {
            0%, 90% { opacity: 1; }
            100% { opacity: 0; }
        }
    </style>
{% endblock %}
