<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/signup.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jockey+One&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'icons/icon.ico' %}">
</head>
<body>
<div class="background"></div>

<div class="container-wrapper">
    <div class="container">
        <div class="logo">
            <img src="{% static 'home/GirlHub_transparent.png' %}" alt="GirlHub Logo">
        </div>
        <h1>Registration</h1>

        <form method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}

            {% if form.username.errors %}
            <div class="error">
                {% for error in form.username.errors %}
                <p>Username: {{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <input type="text" name="username" placeholder="Username" required
                   value="{{ form.username.value|default_if_none:'' }}">

            {% if form.email.errors %}
            <div class="error">
                {% for error in form.email.errors %}
                <p>Email: {{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <input type="email" name="email" placeholder="Email address" required
                   value="{{ form.email.value|default_if_none:'' }}">

            {% if form.password1.errors %}
            <div class="error">
                {% for error in form.password1.errors %}
                <p>Password: {{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <input type="password" name="password1" placeholder="Password" required>

            <button type="submit">Register</button>
        </form>

        <p class="signup">Already have an account? <a href="{% url 'account_login' %}">Login</a></p>
    </div>
</div>

</body>
</html>